  <form class="signUp">
    <h3 class="signUp__title">Регистрация</h3>
    <label class="signUp__label" for="email">
      Почта
      <input class="signUp__field" type="email" name="email" placeholder="pochta@yandex.ru" required>
    </label>
    <label class="signUp__label" for="login">
      Логин
      <input class="signUp__field" type="text" name="login" placeholder="ivanivanov" required>
    </label>
    <label class="signUp__label" for="firstName">
      Имя
      <input class="signUp__field" type="text" name="firstName" placeholder="Иван" required>
    </label>
    <label class="signUp__label" for="lastName">
      Фамилия
      <input class="signUp__field" type="text" name="lastName" placeholder="Иванов" required>
    </label>
    <label class="signUp__label" for="phone">
      Телефон
      <input class="signUp__field" type="phone" name="phone" placeholder="+7 (909) 967 30 30" required>
    </label>
    <label class="signUp__label" for="password">
      Пароль
      <input class="signUp__field" type="password" name="password" placeholder="*********" required>
    </label>
    <label class="signUp__label" for="repeatPassword">
      Пароль (ещё раз)
      <input class="signUp__field" type="text" name="repeatPassword" placeholder="*********" required>
    </label>
    <button class="btn signUp__submit" type="submit">Зарегистрироваться</button>
    <button class="btn signUp__signIn" type="button">Войти</button>
  </form>
