.btn {
  width: 116px;
  border: 0;
  padding: 0 1px;
  background-color: transparent;
  cursor: pointer;
  text-align: left;
  font-size: 13px;

  &:hover {
    opacity: .8;
  }
}

.danger {
  color: #ff0000;
}

.primary {
  color: #3369f3
}

.submit {
  width: 28px;
  height: 28px;
  font-size: 0;
  background-color: #3369f3;
  border-radius: 50%;
}
