<ul class="chatList">
  <li class="chatList__item">
    <a class="chatList__avatar" href="#"></a>
    <div class="chatList__description">
      <a class="chatList__title" href="#">Константин Константинович Константинов</a>
      <p class="chatList__lastMessage">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона</p>
    </div>
    <div class="chatList__common">
      <span class="chatList__date">12 Апр 2020</span>
      <span class="chatList__badge">32</span>
    </div>
  </li>
</ul>
