  <form class="authForm">
    <h3 class="authForm__title">Вход</h3>
    {{{login}}}
    {{{password}}}
    <button class="btn authForm__submit" type="submit">Авторизоваться</button>
    <button class="btn authForm__signIn" type="button">Нет аккаунта?</button>
  </form>
