<main class="profile">
  <form class="profile__form">
    <section class="profile__header">
      <a class="profile__pic" href="#"></a>
      <span class="profile__title">Иван</span>
    </section>
    <section class="profile__body">
      <label class="profile__label" for="email">
        Почта
        <input class="profile__field" type="text" name="email" placeholder="pochta@yandex.ru">
      </label>
      <label class="profile__label" for="login">
        Логин
        <input class="profile__field" type="text" name="login" placeholder="ivanivanov">
      </label>
      <label class="profile__label" for="firstName">
        Имя
        <input class="profile__field" type="text" name="firstName" placeholder="Иван">
      </label>
      <label class="profile__label" for="lastName">
        Фамилия
        <input class="profile__field" type="text" name="lastName" placeholder="Иванов">
      </label>
      <label class="profile__label" for="nickname">
        Имя в чате
        <input class="profile__field" type="text" name="nickname" placeholder="Иван">
      </label>
      <label class="profile__label" for="phone">
        Телефон
        <input class="profile__field" type="text" name="phone" placeholder="+7 (909) 967 30 30">
      </label>
    </section>
    <section class="profile__footer">
      <button class="btn profile__btnSubmit" type="submit">Изменить данные</button>
      <button class="btn profile__btnChangePass" type="button">Изменить пароль</button>
      <button class="btn profile__btnClose" type="button">Выйти</button>
    </section>
  </form>
  <div class="backTo">
    <button class="backTo__btn" type="button">Назад</button>
  </div>
</main>
