.message {
  max-width: 400px;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
}

.mine {
  background-color: #e4edfd;
  border-end-end-radius: 0;
  margin-left: auto;
}

.companion {
  background-color: #f8f8f8;
  border-start-start-radius: 0;
}
