<main class="main">
  <aside class="main__sidebar">
    <a class="main__toProfile">Профиль</a>
    {{{search}}}
    {{{chatList}}}
  </aside>
  <section class="main__chats">
    {{{dialog}}}
  </section>
</main>
