@import "../../variables.scss";

.home {
  display: flex;
  background-color: $main-bg-color;

  &__sidebar {
    width: 310px;
    border-right: 1px solid $border-color;
    box-sizing: border-box;
  }

  &__toProfile {
    display: block;
    width: 75px;
    margin-top: 19px;
    margin-left: auto;
    text-align: right;
    color: $extra-font-color;
    margin-bottom: 9px;
    margin-right: 10px;
    cursor: pointer;

    &:hover {
      color: $main-font-color;
    }

    &::after {
      content: ">";
      margin-left: 5px;
    }
  }

  &__chats {
    display: flex;
    align-items: center;
    width: calc(100% - 310px);
  }
}
