.search {
  position: relative;
  box-sizing: border-box;

  &__input {
    margin: 14px 10px;
    width: calc(100% - 20px);
    box-sizing: border-box;
    height: 32px;
    border: none;
    background-color: #efefef;
    border-radius: 5px;
    padding-left: 30px;
    outline-color: #d1d0d0;

  }

  &::before {
    position: absolute;
    top: -2px;
    left: 16px;
    content: "";
    width: 20px;
    height: 20px;
    background-image: url('../../../static/img/search.png');
    background-position: center;
    background-size: contain;
  }
}
