$main-font-color: #3d3d3d;
$extra-font-color: #999999;
$btn-font-color: #ffffff;
$main-bg-color: #ffffff;
$border-color: #eaeaea;
$primary-outline-color: #d1d0d0;
$accent-color: #3369f3;
$danger-color: #ff0000;
$hover-color: #e4edfd;
$mine-message-color: #e4edfd;
$companion-message-color: #f8f8f8;
$darker-field-color: #efefef;
$black: #000000;
