<main class="notFound">
  <h3 class="notFound__title">404</h3>
  <span class="notFound__description">Не туда попали</span>
  <button class="btn notFound__btn" type="button">Назад к чатам</button>
</main>
